body {
    font-size: 20px;
}

.option-box {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 200px;
        width: 340px;
        background-color: white;
        border: solid red 0px 2px 2px 0px;
        padding: 0px;
}

.option-box h2 {
    display: inline-block;
    font-size: 18px;
}

.flavor-town {
        position: absolute;
        top: 40px;
        right: 0px;
        width: 300px;
        background-color: #bbb;
        border: solid red 0px 0px 2px 2px;
        padding: 20px;
}

.header {
    background-color: #222;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    color: white;
}

.header h1 {
    font-size: 14px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.header ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.header li {
    font-size: 12px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

a {
    color: red
}

.option-box {
    position:
}

.canvas-container {
    position: absolute;
    left: 0px;
    top: 0px;
}

#display {
    position: absolute;
    left: 0px;
    top: 40px;
}
