<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tarterus</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <!-- <link href="static/css/the-big-picture.css" rel="stylesheet"> -->
    <link href="static/css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/map_canvas.js"></script>
  </head>

  <body>
        <span id="canvas-container">    
            <canvas id="display">
        </span>
        <div class="header catch-click">
            <h1>Tarterus</h1>
            <ul>
                <li><a href="/username">username</a></li>
                <li><a href="/maps">maps</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </div>
        <div class="option-box catch-click">
            <h2>Generation Options</h2>
            <form action="/param_map" method="GET">
                <fieldset>
                    <select id="size" name="size">
                        <option value="30x30">150ft x 150ft</option>
                        <option value="50x30">250ft x 150ft</option>
                        <option value="50x50">250ft x 250ft</option>
                        <option value="100x50" selected>500ft x 250ft</option>
                        <option value="100x100">500ft x 500ft</option>
                        <option value="200x200">1000ft x 1000ft</option>
                        <option value="500x500">2500ft x 2500ft</option>
                        <option value="1056x1056">one mile x one mile</option>
                    </select>
                    <select id="entrance" name="entrance">
                        <option value="n">North</option>
                        <option value="e">East</option>
                        <option value="s">South</option>
                        <option value="w">West</option>
                        <option value="c">Interior Room (stairs)</option>
                    </select>
                    <select id="level" name="character level">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <select id="type" name="map type">
                        <option value="big_room">big room</option>
                        <option value="hall_test" selected>hall test</option>
                        <option value="splash">splash</option>
                    </select>
                    <input type="button" id="generate" value="generate">
                </fieldset>
            </form>
        </div>
        <div class="flavor-town">
            <div id="description"></div>
        </div>
  </body>
</html>
