<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/resources/favicon.ico" />
    <title>Tartarus.sh - Dungeon Generation for 5th Edition D&D</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <!-- <link href="static/css/the-big-picture.css" rel="stylesheet"> -->
    <link href="static/css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/map_canvas.js"></script>
  </head>

  <body>
        <span id="canvas-container">    
            <canvas id="display">
        </span>
            <div class="status-box">
            <span id="status">
            </div>
        <div class="header catch-click">
            <img src="/static/logo.png">
            <h2>&copy;2018, Carter Adams</h2>
        </div>
        <div class="right-side">
            <table>
                <tr id="space">
                    <td>
                    </td>
                </tr>
                <tr id="top">
                    <td>
                        <div id="description"></div>
                    </td>
                </tr>
                <tr id="control">
                    <td>
                    <div class="option-box catch-click">
                        <h4>Generation Options</h4>
                        <form action="/param_map" method="GET">
                            <fieldset>
                                <select id="size" name="size">
                                    <option value="30x30">150ft x 150ft</option>
                                    <option value="50x30">250ft x 150ft</option>
                                    <option value="50x50">250ft x 250ft</option>
                                    <option value="100x50" selected>500ft x 250ft</option>
                                    <option value="100x100">500ft x 500ft</option>
                                    <option value="200x200">1000ft x 1000ft</option>
                                </select>
                                <input type="button" id="generate" value="generate">
                            </fieldset>
                        </form>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--
        <div class="flavor-town">
            <div id="description"></div>
        </div>
        -->
  </body>
</html>
